<!-- ======= About Section ======= -->
<section id="about" class="about">
	<div class="container" data-aos="fade-up">

		<div class="section-header">
			<h2>Sobre nós</h2>
			<p>Leia Mais <span>Sobre nós</span></p>
		</div>

		<div class="row gy-4">
			<div class="col-lg-7 position-relative about-img" style="background-image: url(/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
				<div class="call-us position-absolute">
					<h4>Verifique a disponibilidade</h4>
					<p>(19) 999-999999</p>
				</div>
			</div>
			<div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
				<div class="content ps-0 ps-lg-5">
					<p class="fst-italic">
						Nossa história começa com uma paixão compartilhada por gastronomia e hospitalidade, levando-nos a criar experiências memoráveis para nossos clientes.
					</p>
					<ul>
						<li><i class="bi bi-check2-all"></i> Comprometemo-nos a oferecer uma experiência excepcional do início ao fim.</li>
						<li><i class="bi bi-check2-all"></i> Nosso menu é cuidadosamente elaborado com os melhores ingredientes, garantindo sabores autênticos em cada prato.</li>
						<li><i class="bi bi-check2-all"></i> Estamos empenhados em proporcionar um serviço impecável, sempre atentos às necessidades dos nossos clientes.</li>
					</ul>
					<p>
						Acreditamos que a comida vai além do simples ato de alimentar, é uma experiência que une pessoas e cria memórias duradouras. É por isso que nos esforçamos para oferecer momentos inesquecíveis em nosso restaurante.
					</p>
					<div class="position-relative mt-4">
						<img src="/img/about-2.jpg" class="img-fluid" alt="">
						<a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- End About Section -->