<!-- ======= Seção de Depoimentos ======= -->
<section id="testimonials" class="testimonials section-bg">
	<div class="container" data-aos="fade-up">

		<div class="section-header">
			<h2>Depoimentos</h2>
			<p>O Que Eles <span>Dizem Sobre Nós</span></p>
		</div>

		<div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<div class="testimonial-item">
						<div class="row gy-4 justify-content-center">
							<div class="col-lg-6">
								<div class="testimonial-content">
									<p>
										<i class="bi bi-quote quote-icon-left"></i>
										O bife Leveout é uma excelente empresa! Eles nos forneceram um serviço de alta qualidade e atendimento excepcional. Recomendo fortemente seus serviços.
										<i class="bi bi-quote quote-icon-right"></i>
									</p>
									<h3>Saul Goodman</h3>
									<h4>CEO e Fundador</h4>
									<div class="stars">
										<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-2 text-center">
								<img src="/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
							</div>
						</div>
					</div>
				</div>
				<!-- Fim do item de depoimento -->

				<div class="swiper-slide">
					<div class="testimonial-item">
						<div class="row gy-4 justify-content-center">
							<div class="col-lg-6">
								<div class="testimonial-content">
									<p>
										<i class="bi bi-quote quote-icon-left"></i>
										Tive uma experiência maravilhosa trabalhando com a equipe da Proin iaculis. Eles foram extremamente profissionais e entregaram um trabalho de alta qualidade dentro do prazo.
										<i class="bi bi-quote quote-icon-right"></i>
									</p>
									<h3>Sara Wilsson</h3>
									<h4>Designer</h4>
									<div class="stars">
										<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-2 text-center">
								<img src="/img/testimonials/testimonials-2.jpg" class="img-fluid testimonial-img" alt="">
							</div>
						</div>
					</div>
				</div>
				<!-- Fim do item de depoimento -->

				<div class="swiper-slide">
					<div class="testimonial-item">
						<div class="row gy-4 justify-content-center">
							<div class="col-lg-6">
								<div class="testimonial-content">
									<p>
										<i class="bi bi-quote quote-icon-left"></i>
										Estou muito satisfeita com o serviço prestado pela Proin iaculis. Eles realmente superaram minhas expectativas e fizeram um ótimo trabalho no meu projeto.
										<i class="bi bi-quote quote-icon-right"></i>
									</p>
									<h3>Jena Karlis</h3>
									<h4>Proprietária de Loja</h4>
									<div class="stars">
										<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-2 text-center">
								<img src="/img/testimonials/testimonials-3.jpg" class="img-fluid testimonial-img" alt="">
							</div>
						</div>
					</div>
				</div>
				<!-- Fim do item de depoimento -->

				<div class="swiper-slide">
					<div class="testimonial-item">
						<div class="row gy-4 justify-content-center">
							<div class="col-lg-6">
								<div class="testimonial-content">
									<p>
										<i class="bi bi-quote quote-icon-left"></i>
										O bife Leveout é uma empresa excepcional. Eles são altamente profissionais e seu trabalho é de qualidade excepcional. Definitivamente, recomendaria seus serviços a todos.
										<i class="bi bi-quote quote-icon-right"></i>
									</p>
									<h3>John Larson</h3>
									<h4>Empreendedor</h4>
									<div class="stars">
										<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-2 text-center">
								<img src="/img/testimonials/testimonials-4.jpg" class="img-fluid testimonial-img" alt="">
							</div>
						</div>
					</div>
				</div>
				<!-- Fim do item de depoimento -->

			</div>
			<div class="swiper-pagination"></div>
		</div>

	</div>
</section>
<!-- Fim da Seção de Depoimentos -->
