<!-- ======= Seção de Eventos ======= -->
<section id="events" class="events">
	<div class="container-fluid" data-aos="fade-up">

		<div class="section-header">
			<h2>Eventos</h2>
			<p>Compartilhe <span>Seus Momentos</span> No Nosso Bife</p>
		</div>

		<div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
			<div class="swiper-wrapper">

				<div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/img/events-1.jpg)">
					<h3>Festas Personalizadas</h3>
					<div class="price align-self-start">R$99</div>
					<p class="description">
						Aproveite a oportunidade de personalizar sua festa conosco! Oferecemos um pacote completo para tornar seu evento único e memorável.
					</p>
				</div><!-- Fim do item de evento -->

				<div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/img/events-2.jpg)">
					<h3>Festas Privadas</h3>
					<div class="price align-self-start">R$289</div>
					<p class="description">
						Crie momentos especiais com nossas festas privadas! Desfrute de uma atmosfera exclusiva e serviços personalizados para você e seus convidados.
					</p>
				</div><!-- Fim do item de evento -->

				<div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/img/events-3.jpg)">
					<h3>Festas de Aniversário</h3>
					<div class="price align-self-start">R$499</div>
					<p class="description">
						Celebre seu aniversário conosco! Oferecemos pacotes completos para garantir que seu dia especial seja repleto de diversão, comida deliciosa e ótimas lembranças.
					</p>
				</div><!-- Fim do item de evento -->

			</div>
			<div class="swiper-pagination"></div>
		</div>

	</div>
</section>
<!-- Fim da Seção de Eventos -->
