<!-- ======= Rodapé ======= -->
<footer id="footer" class="footer">

	<div class="container">
		<div class="row gy-3">
			<div class="col-lg-3 col-md-6 d-flex">
				<i class="bi bi-geo-alt icon"></i>
				<div>
					<h4>Endereço</h4>
					<p>
						Rua A108 Adam <br>
						Nova York, NY 535022 - EUA<br>
					</p>
				</div>

			</div>

			<div class="col-lg-3 col-md-6 footer-links d-flex">
				<i class="bi bi-telephone icon"></i>
				<div>
					<h4>Reservas</h4>
					<p>
						<strong>Telefone:</strong> +1 5589 55488 55<br>
						<strong>Email:</strong> info@exemplo.com<br>
					</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 footer-links d-flex">
				<i class="bi bi-clock icon"></i>
				<div>
					<h4>Horário de Funcionamento</h4>
					<p>
						<strong>Seg-Sáb:</strong> 11h - 23h<br>
						Domingo: Fechado
					</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 footer-links">
				<h4>Siga-nos</h4>
				<div class="social-links d-flex">
					<a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
					<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
					<a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
					<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
				</div>
			</div>

		</div>
	</div>

	<div class="container">
		<div class="copyright">
			&copy; Direitos Autorais <strong><span>Bife Leveout</span></strong>. Todos os Direitos Reservados
		</div>
		<div class="credits">
			Desenvolvido por <a href="https://bootstrapmade.com/">Diogo Godoi - Bootstrap Made</a>
		</div>
	</div>

</footer><!-- Fim do Rodapé -->
<!-- Fim do Rodapé -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>
